{
  "account": {
    "email": "user.name@host.com",
    "password": "12345"
  },
  "locations": {
    "Edouard Pailleron": [2]
  },
  "weekday": "wednesday",
  "hours": [
    "19"
  ],
  "priceType": [
    "Tarif plein",
    "Tarif réduit"
  ],
  "courtType": [
    "Découvert",
    "Couvert"
  ],
  "players": [
    {
      "lastName": "Kellal",
      "firstName": "Mehdi"
    }
  ],
  "ntfy": {
    "enable": false,
    "topic": "YOUR-OWN-TOPIC"
  },
  "email": {
    "enable": false,
    "from": "you@example.com",
    "to": [
      "you@example.com",
      "partner@example.com"
    ]
  }
}
